.encabezado h1{
    width: 95%;
    position: relative;
    margin: 10px auto;
    font-size: 35px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

.imagen-encabezado{
    width: 1em; 
    position: relative;
    top: 10px;
    margin-right: 20px;
}

*{/* Selecciona todos los elementos. El selector universal CSS (*) coincide con elementos de cualquier tipo*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* el borde de cada uno de los item sera el limite del espacio*/
}

body{
    font-size: 17px;
    background-color: #1e2f2f;
}

main{
    width: 95%;
    margin: 0 auto;
}

.caja-principal{
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    background-color:#294444;
    border-radius: 16px;
    box-shadow: 0 4px 30px #000000;
    padding: 20px;
    display: grid;
    gap: 40px;
    position: relative;
}

textarea{
    width: 100%;
    border: none;
    height: 180px;
    padding: 16px;
    background-color: #597b7a;
    color:  #FFFFFF;
    border-radius: 16px;
    font-size: 16px;
    background: url(imagenes/bg1.jpg);
    /*box-shadow: inset -2px 8px 9px 1px rgba(30,47,47,0.65);*/
    

}

textarea::placeholder{
    color: #E8E8E8;
}

textarea:focus{ /* Selecciona cualquier <input> cuando se enfoca */
    border: 1px solid #96b9b9;
}

.alerta{
    display: flex;
    color: #E8E8E8;
    font-family: sans-serif;
}

.botones-principal{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.boton-copiar{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.botones{
    display: inline-block;
    width: 35%;
    background-color: #FFFFFF;
    color: #294444;
    text-decoration: none;
    padding: 11px 0;
    text-align: center;
    border-radius: 50px;
    border: 2px solid #96b9b9;
    transition: all .3s ease;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
}

.botones:hover{ 
    background-color: transparent;
    color: #FFFFFF;
}

/* CSS para el footer - Pie de pagina*/
.footer p{ 
    text-align: center;
    padding: 50px 20px;
    color: #ffffff;
    font-size: 14px;
    font-family: sans-serif;
}

.footer a{
    color: #96b9b9;/
}

/* CSS para responsive*/

@media screen and (max-width: 480px){
    .encabezado h1{
        width: auto;
        font-size: 20px;
    }
    
    main{
        width: auto;   
    }
}

@media screen and (min-width: 768px){
    textarea{
        height: 350px;
    }
    .caja-principal{
        grid-template-columns: repeat(2, 1fr);
    }
}

